**/bin
**/obj
**.user
**/*.suo
**/_ReSharper.InstaTax/*
**/_ReSharper.InstaTax/CachesImage.bin
*.sln.cache
database/*.db
b.log
*~
*.swp
**/InstaTax.*/bin/
**/InstaTax.*/obj/
build
/InstaTax/_UpgradeReport_Files
/InstaTax/_ReSharper.InstaTax